[flake8]
max-line-length = 119
exclude =
    venv/,
    .venv/,
    .git/,
    __pycache__,
    */migrations/*,


per-file-ignores =
    # Ignoruj TYLKO błąd F401 (nieużywany import) i F403 (import *) w plikach __init__.py
    __init__.py: F401, F403